.container-full {
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
}

.container-narrow {
  width: 50%;
  min-height: 100vh;
}

.container-full, .container-narrow {
  display: flex;
  justify-content: center;
}

.container-full {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.container-full::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.container-narrow {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.container-narrow::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}